@model TextileCRM.Domain.Entities.Customer

@{
    ViewData["Title"] = "Müşteri Detayları";
}

<h1>Müşteri Detayları</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Müşteri Adı</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>
        
        <dt class="col-sm-3">E-posta</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>
        
        <dt class="col-sm-3">Telefon</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Phone)</dd>
        
        <dt class="col-sm-3">Adres</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>
        
        <dt class="col-sm-3">Kayıt Tarihi</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.CreatedDate)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Düzenle</a> |
    <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
</div>